#body {
    padding-top: 10px;
}

.navbar {
    background-color: red;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    background-color: #008a00;
    background-image: -moz-linear-gradient(top, #008a00, #006b00);
    background-image: -ms-linear-gradient(top, #008a00, #006b00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008a00), to(#006b00));
    background-image: -webkit-linear-gradient(top, #008a00, #006b00);
    background-image: -o-linear-gradient(top, #008a00, #006b00);
    background-image: linear-gradient(top, #008a00, #006b00);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}
