#body {
    padding-top: 10px;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    background-color: black;
    background-image: -moz-linear-gradient(top, blue, gray);
    background-image: -ms-linear-gradient(top, blue, gray);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(blue), to(gray));
    background-image: -webkit-linear-gradient(top, blue, gray);
    background-image: -o-linear-gradient(top, blue, gray);
    background-image: linear-gradient(top, blue, gray);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}

.thumbnail {
    background-color: darkgray;
}
